<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/ps-logo.png?raw=true" 
            alt="playstation logo" 
            srcset=""
            width="140px"
            height="32px">
        <div class="menu-bar__item">
            <ul>
                <li><a href="https://www.youtube.com/@gabrielnogueira1791">YOUTUBE</a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-nogueira-298611220/">LINKEDIN</a></li>
                <li><a href="https://github.com/gabrielpr0g">GITHUB</a></li>
            </ul>
        </div>
    </div>
</div>  
