<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="https://github.com/felipeAguiarCode/angular-psn-store-clone/blob/main/src/assets/ps-logo.png?raw=true" 
            alt="playstation logo" 
            srcset=""
            width="140px"
            height="32px">
        <div class="menu-bar__item">
            <ul>
                <li><a href="">YOUTUBE</a></li>
                <li><a href="">LINKEDIN</a></li>
                <li><a href="">GITHUB</a></li>
            </ul>
        </div>
    </div>
</div>
